body{
	margin-left: 50px;
	margin-right: 50px;
	margin-top: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #DC143C ;
}

h1{
	margin-bottom: 10px;
	font-size: 24px;
}

label{
	margin-bottom: 10px;
}

img{
	border-width: 3px;
	border-style: solid;
	border-radius: 5px;
	border-color: #E6E6E6;
	margin: 0 5px 0 5px;
}

input{
	border: 3px solid #EBE6E2; 
	border-radius: 5px; 
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-ms-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out; 
	height: 26px;
	width: 300px;
	font-weight: 700;
	font-size: 12px;
}

button{ 
	
	background-color:#428bca;
	border:1px solid #357ebd;
	border-radius: 3px;
	height:32px;
	width:148px;
	color: #FFFFFF;
	text-align:center;
	font-size: 14px;
	font-style: sans-serif;
}

button:hover{
	background-color: #3071a9;
}

label{
	display: block;
}

.border{
	background-color: #E6E6E6;
	border-radius: 20px;	
	/*height: 260px;*/
	margin: 50px;
	padding: 30px;
}

.body{
	background-color: #FFFFFF;
	border-radius: 20px;
	/*height: 200px;*/
	padding: 30px;
}

#content{
	margin-top:	20px; 
	height: 260px;
}

